@import url('./styles/common.css');

.section.section--welcome .section__main .picture.picture--heading {
    align-self: center;
    max-width: 100%;
}

@media (min-width: 629px) {
    .section.section--welcome .section__main .picture.picture--heading {
        max-width: 550px;
    }   
}

.car-catalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.car-catalog-card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    padding: 1rem .5rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow--regular);

    transition-property: box-shadow;
    transition-duration: var(--duration--regular);
}

.car-catalog-card__title {
    text-align: center;
    font-weight: 700;

    transition: color var(--duration--regular);
}

.car-catalog-card__title:hover {
    color: var(--color--accent);
}

.car-catalog-card:hover {
    box-shadow: var(--box-shadow--large);    
    cursor: pointer;
}

.car-catalog-card:hover .car-catalog-card__photo {
    transform: scale(1, 1);
}

.car-catalog-card__photo {
    --photo-width: 150px;

    width: var(--photo-width);
    height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    transform: scale(0.95, 0.95);
    transition-property: transform;
    transition-duration: var(--duration--regular);
}

@media (min-width: 280px) and (max-width: 319px) {
    .car-catalog-card__photo {
        --photo-width: 185px;
    
        width: var(--photo-width);
        height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    }
}

@media (min-width: 320px) {
    .section__container {
        padding: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 434px) {
    .car-catalog-card__photo {
        --photo-width: 200px;
    
        width: var(--photo-width);
        height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    }
}

@media (min-width: 435px) {
    .car-catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 435px) and (max-width: 534px) {
    .car-catalog-card__photo {
        --photo-width: 175px;
    
        width: var(--photo-width);
        height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    }
}

@media (min-width: 535px) and (max-width: 629px) {
    .car-catalog-card__photo {
        --photo-width: 220px;
    
        width: var(--photo-width);
        height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    }
}

@media (min-width: 630px) and (max-width: 767px) {
    .car-catalog-card__photo {
        --photo-width: 230px;
    
        width: var(--photo-width);
        height: calc(var(--photo-width) * var(--car-catalog-card--aspect-ratio));
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    .car-catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .car-catalog {
        grid-template-columns: repeat(4, 1fr);
    }
}
