@import url('./fonts.css');
@import url('./reset.css');
@import url('./typography.css');

:root {
    --font-size--small: 0.85rem;
    --font-size--regular: 1rem;

    --font-color-primary: #333;
    --font-color-accent: #fff;

    --color--primary: #1976D2;
    --color--accent: #ff4081;
    --color--bg-primary: #fefefe;
    --color--bg-accent: #fff;

    --box-shadow--regular: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    --box-shadow--large: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    --duration--regular: 0.25s;
    --duration--large: 0.75s;

    --car-catalog-card--aspect-ratio: 1.05;

    color: var(--font-color-primary);
}

.root {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-bar,
.app-footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--font-color-accent);
    background-color: var(--color--primary);
    box-shadow: var(--box-shadow--large);    
}

.app-bar__container,
.app-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-footer {
    min-height: 40px;
}

.author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    padding: .5rem;
}

.author-info__title {
    font-size: 1.1rem;
}

.author-info__created-by {
    font-size: 0.75rem;
}

.app-logo {
    display: flex;
    align-items: center;
    height: 35px;
}

.app-logo:hover {
    cursor: pointer;
}

@keyframes car-bouncing {
    from {
        transform: translateX(-0.25rem)
    }
    to {
        transform: translateX(0.25rem)
    }
}

.app-logo__photo {
    min-width: 55px;
    height: 30px;

    background-image: url('../assets/images/camaro-logo.png');
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: car-bouncing;
    animation-duration: var(--duration--large);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: paused;
}

.app-logo:hover > .app-logo__photo {
    animation-play-state: running;
}

.app-logo__title {
    display: none;

    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
}

@media (min-width: 400px) {
    .app-logo__title {
        display: block;
    }
}

.nav-links__list {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.85rem;
}

.nav-links__list-item {
    transition: color var(--duration--regular);
}

.nav-links__list-item:not(.nav-links__list-item--external):hover {
    color: var(--color--accent );
}

.nav-link-icon {
    --size: 30px;

    width: var(--size);
    height: var(--size);

    background-size: contain;
    background-repeat: no-repeat;

    border: 2px solid transparent;
    border-radius: 50%;

    transition-duration: var(--duration--regular);
    transition-property: border;
}

.nav-link-icon:hover {
    border-color: rgba(255, 255, 255, 0.5)
}

.nav-link-icon--github {
    background-image: url('../assets/images/github-mark-white.png');
}

.nav-link-icon--telegram {
    background-image: url('../assets/images/telegram.png');
}

.section {
    width: 100%;
}

.section .section__title {
    width: 100%;
}

.section,
.section__main {
    display: flex;
    flex-direction: column;
}

.section {
    align-items: center;
}

.app-bar__container,
.section__container {
    width: 100%;
    max-width: 1200px;
    padding: .5rem;
}

.section.section--welcome .section__title,
.section.section--catalog .section__title {
    text-align: center;
}

.root .section .section__main .paragraph {
    text-indent: 1rem;
    margin-bottom: 1rem;
}

.picture {
    margin-bottom: .5rem;
}

.text-center {
    text-align: center;
}

.table {
    border-collapse: collapse;
}

.table .table__row {
    border-bottom: 2px solid var(--color--primary);
}

.table .table__row--head {
    background-color: var(--color--primary);
    color: var(--font-color-accent);
}

.table .table__column {
    padding: .5rem 1rem;
    text-align: center;
}

.paragraph--with-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
